body {
    font-family: montserrat,sans-serif;
    color: #1a1c1d;
}

p {
    font-family: lato,serif;
    color: #272727;
}

footer {
    background-color: #25282b!important;
    p {
        color: rgba(255,255,255,.75);
    }
}

.content ul {list-style: none;}

